# numpy==1.24.4  # Pinning numpy to a stable version that works with most packages
# numba==0.55.2  # Specific version to avoid numba/llvmlite conflicts
# llvmlite==0.38.1  # Compatible with the numba version

datasets>=3.4.1
diffusers>=0.32.2
gradio
librosa>=0.11.0
loguru>=0.7.3
matplotlib>=3.10.1
numpy<2
pypinyin>=0.53.0
pytorch_lightning>=2.5.1
soundfile>=0.13.1
torch
torchaudio
torchvision
tqdm>=4.67.1
transformers>=4.50.0
py3langid>=0.2.2
hangul-romanize>=0.1.0
num2words>=0.5.14
spacy>=3.8.4
accelerate>=1.6.0
cutlet
fugashi[unidic-lite]
click